root: true

env:
    node: true

extends:
    "airbnb/base"

parser:
    "babel-eslint"

rules:
    indent: [2, 4, {SwitchCase: 1}]
    func-names: 0
    comma-dangle: [2, "never"]
    "id-length": [1, {"exceptions": [_]}]